<head>
</head>
<body>
{% block content %}
{%load crispy_forms_tags %}

{% if user.is_authenticated %}
    <a href="{% url 'logout_view' %}">Logout</a>
{% else %}
    <a href="{% url 'register_view' %}">Register</a>
    
    <a href="{% url 'login_view' %}">Login</a>
{% endif  %}


<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">submit</button>
</form>

{% endblock %}

<div class="container">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  </div>
</body>
</html>